/* bottoni login/register */
.form-transition {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.form-transition.fade-in {
    opacity: 1;
}

.card-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0;
    margin-bottom: 1rem;
}

.card-header button {
    flex: 1;
    z-index: 2;
    position: relative;
    font-weight: bold;
    color: #000000;
}

.active-background {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: var(--myTextSecondary); /* Colore con trasparenza */
    transition: transform 0.5s ease;
    z-index: 1;
    border-radius: 0;
}

#loginBtn {
    margin-right: auto;
}

#registerBtn {
    margin-left: auto;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.card:hover{
    transition: all 0.5s;
    box-shadow: var(--myTextSecondary) 0px 30px 90px;
}