:root{
    --myBackgroundPrimary: #ddf0f9;
    --myTextPrimary: #1e191b;
    --myTextSecondary: #ea573a;
    --myTextTerziary: #f9b2a4;

}

.sfondo {
    background-color: var(--myBackgroundPrimary);
}

.font1 {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.2rem;
        font-size: 2rem;
        color: var(--myTextPrimary);
}

.font2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: var(--myTextSecondary);
}


.fontIt {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
}

.fontBenvenuto {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-style: normal;
    color: var(--myTextSecondary);
}

.fontBenvenuto2 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-style: normal;
    color: var(--myTextPrimary);
}

.altezza {
    height: 10rem;
}

button > a{
    all: unset;
}



/*home*/

.bottone {
    background-color: var(--myTextSecondary);
    border-radius: 0;
}

.bottone2 {
    background-color: var(--myTextPrimary);
    border-radius: 0;
}

.btn {
    --bs-btn-hover-border-color: var(--myTextPrimary);
    --bs-btn-color: white;
}


/* base style*/
body    {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--myBackgroundPrimary);
    color: var(--myTextPrimary);
}


a{text-decoration: none;}

.big-text{font-size: 70px; font-weight:900 ;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-decoration: uppercase; font-size:20px ; font-weight: bold;}



.hamburger{display:none;}

@media(max-width: 768px){

    .big-text{font-size:40px ;}
    .cta{display: none;}

    .menu{position:absolute ; top: 0; right: -100%; background: rgb(25, 25, 25);
    height: 100vh;
    padding-top: 80px;}
    .menu li {display:block;}
   
   


}

/* Navbar */

.navLinks {
    color: var(--myTextPrimary);

}

:hover.navLinks {
    
    background-color: #f0f8fc;

}

:active.navLinks {
    background-color: var(--myTextSecondary);
}

.myNavButton {
    background-color: var(--myTextSecondary);

}

.navbar {
    --bs-navbar-color: white;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--myTextSecondary);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
}
.btn-outline-light {
    --bs-btn-hover-bg: rgba(0, 0, 0, 0);
}

/* Header*/

.header{
   
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   

    display: flex;
    max-width:1350px;

    


}

/* Pagina elenco articoli */

.pagination {
    --bs-pagination-color: var(--myTextPrimary);
    --bs-pagination-hover-color: var(--myTextSecondary);
    --bs-pagination-focus-color: #fff;
    --bs-pagination-focus-bg: var(--myTextSecondary);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--myTextTerziary);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--myTextSecondary);
    --bs-pagination-active-border-color: transparent;
}