* {
    margin: 0;
    padding: 0;
    
}

:root{
    --myBackgroundPrimary: #ddf0f9;
    --myTextPrimary: #1e191b;
    --myTextSecondary: #ea573a;
    --myTextTerziary: #f9b2a4;
    --myTextFour: #cff4ff;

}

@media (hover: hover){
    .carte{
        transition: all 0.3s;
    }

    :hover.carte {
    transform: scale(1.08);
    background-color: var(--myTextSecondary);
    }

    .carte .nascondi {
        visibility: hidden;
    }

    :hover.carte .nascondi {
        visibility: visible;
    }
}



.bordoFoto {
    padding: 1rem;
    background-color: var(--myTextSecondary);

}

.sfondo {
    background-color: var(--myBackgroundPrimary);
}

.font1 {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0.2rem;
        font-size: 2rem;
        color: var(--myTextPrimary);
}

.font2 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    color: var(--myTextSecondary);
}


.fontIt {
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size: 1.5rem;
}

.fontBenvenuto {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-style: normal;
    color: var(--myTextSecondary);
}

.fontTitolo {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    font-style: normal;
    color: var(--myTextSecondary);
}

.fontBenvenuto2 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    font-style: normal;
    color: var(--myTextPrimary);
}

.altezza {
    height: 10rem;
}

button > a{
    all: unset;
}



/*home*/

.bottone {
    background-color: var(--myTextSecondary);
    border-radius: 0;
}

.bottone2 {
    background-color: var(--myTextPrimary);
    border-radius: 0;
}

.bottone3 {
    background-color: var(--myTextSecondary);
    border-radius: 0;
    color:white;
}

:hover.bottone3 {
    background-color: var(--myBackgroundPrimary);
    color: black;
}

.bottone3:focus-visible {
    background-color: var(--myBackgroundPrimary);
}

.coloreIcone {
    color: var(--myTextSecondary);
}

.btn {
    --bs-btn-hover-border-color: var(--myTextPrimary);
    --bs-btn-color: white;
}


/* base style*/
body    {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--myBackgroundPrimary);
    color: var(--myTextPrimary);
}


a{text-decoration: none;}

.big-text{font-size: 70px; font-weight:900 ;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-decoration: uppercase; font-size:20px ; font-weight: bold;}



.hamburger{display:none;}

@media(max-width: 768px){

    .big-text{font-size:40px ;}
    .cta{display: none;}

    .menu{position:absolute ; top: 0; right: -100%; background: rgb(25, 25, 25);
    height: 100vh;
    padding-top: 80px;}
    .menu li {display:block;}
}

@media screen and (max-width: 768px) {
    .scritta1 {
      text-align: center;
    }
    
    .scritta2 {
        font-size: 3rem;
    }

    .immagine {
        display:none;
    }

  }

@media screen and (min-width: 992px){
  #rettangolo {
    visibility: hidden;
    }
}

@media screen and (max-width: 992px){
  #tastino {
        transform: none !important;
        left: 43% !important;
    }
}

@media screen and (max-width: 405px){
    #rettangolo {
      display: none;
  }
}

/* Navbar */

.navLinks {
    color: var(--myTextPrimary);

}

:hover.navLinks {
    
    background-color: #f0f8fc;

}

:active.navLinks {
    background-color: var(--myTextSecondary);
    color: white;
}

.myNavButton {
    background-color: var(--myTextSecondary);

}

.navbar {
    --bs-navbar-color: white;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: var(--myTextSecondary);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
}
.btn-outline-light {
    --bs-btn-hover-bg: rgba(0, 0, 0, 0);
}

.bordo {
    border-right: solid;
    border-color: var(--myTextSecondary);
}

#rettangolo {
    width: 30px;
    height: 15px;
    background-color: var(--myTextSecondary);
  }

  .myNavbar {

    width: 85%;
  }

/* Header*/

.header{
   
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
   

    display: flex;
    max-width:1350px;

    


}

/* Pagina elenco articoli */

.pagination {
    --bs-pagination-color: var(--myTextPrimary);
    --bs-pagination-hover-color: var(--myTextSecondary);
    --bs-pagination-focus-color: #fff;
    --bs-pagination-focus-bg: var(--myTextSecondary);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem var(--myTextTerziary);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: var(--myTextSecondary);
    --bs-pagination-active-border-color: transparent;
}

/* Pagina categoria */

.coloreTesto1 {
    color: var(--myTextSecondary);
}

/* Modal */

.modal {
    --bs-modal-border-radius: 0;
    --bs-modal-inner-border-radius: 0;
    
}

.modal-footer {
    justify-content: center;
}

.modal-header {
    justify-content: center
}

.modal-backdrop {
    --bs-backdrop-bg: #00000082;
    --bs-backdrop-opacity: 1;
}

/* Immagini */

.img-preview {
    background-position: center;
    background-repeat:  no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.immagine {
    height: 20vh;
    --s: 15vmin;
    --p: calc(var(--s) / 2);
    --c1: var(--myTextSecondary);
    --c2: var(--myBackgroundPrimary);
    --c3: var(--myTextPrimary);
    --bg: var(--c3);
    --d: 5000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);
    
    background-color: var(--bg);
    background-image:
      linear-gradient(45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--c2) 75%),
      linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
    animation: 
      color var(--d) var(--e) infinite,
      position var(--d) var(--e) infinite;
  }
  
  @keyframes color {
    0%, 25% {
      --bg: var(--c3);
    }
    26%, 50% {
      --bg: var(--c1);
    }
    51%, 75% {
      --bg: var(--c3);
    }
    76%, 100% {
      --bg: var(--c2);
    }
  }
  
  @keyframes position {
    0% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  0), 
        calc(var(--p) * -1) calc(var(--p) *  1), 
        calc(var(--p) *  1) calc(var(--p) * -1), 
        calc(var(--p) * -1) calc(var(--p) *  0);
    }
    25% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  4), 
        calc(var(--p) * -1) calc(var(--p) *  5), 
        calc(var(--p) *  1) calc(var(--p) *  3), 
        calc(var(--p) * -1) calc(var(--p) *  4);
    }
    50% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 8), 
        calc(var(--p) * -3) calc(var(--p) * 9), 
        calc(var(--p) *  2) calc(var(--p) * 7), 
        calc(var(--p) * -2) calc(var(--p) * 8);
    }
    75% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 12), 
        calc(var(--p) * -3) calc(var(--p) * 13), 
        calc(var(--p) *  2) calc(var(--p) * 11), 
        calc(var(--p) * -2) calc(var(--p) * 12);
    }
    100% {    
      background-position: 
        calc(var(--p) *  5) calc(var(--p) * 16), 
        calc(var(--p) * -5) calc(var(--p) * 17), 
        calc(var(--p) *  5) calc(var(--p) * 15), 
        calc(var(--p) * -5) calc(var(--p) * 16);
    }
  }

